
/* 
    Created on : 23 avr. 2020, 09:15:03
    Author     : MASOUD
*/

.jfx-button{
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: #388E3C;
}

